In [3]:
import os
import numpy as np
import pandas as pd

In [2]:
os.getcwd()

'D:\\GitHubProjects\\covid_mortality_prediction'

In [5]:
data_dir = '..\\synthea_covid19_data\\100k_synthea_covid19_csv\\'
data_dir

'..\\synthea_covid19_data\\100k_synthea_covid19_csv\\'

In [6]:
patients = pd.read_csv(data_dir+'patients.csv', nrows=20)

In [8]:
patients.columns

Index(['Id', 'BIRTHDATE', 'DEATHDATE', 'SSN', 'DRIVERS', 'PASSPORT', 'PREFIX',
       'FIRST', 'LAST', 'SUFFIX', 'MAIDEN', 'MARITAL', 'RACE', 'ETHNICITY',
       'GENDER', 'BIRTHPLACE', 'ADDRESS', 'CITY', 'STATE', 'COUNTY', 'ZIP',
       'LAT', 'LON', 'HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE'],
      dtype='object')

In [11]:
patients.sample()

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
14,29581d13-2687-402f-9c4c-06141a319e61,2000-12-19,NaN,999-28-2716,S99985509,NaN,Ms.,Carmelia328,Konopelski743,NaN,...,Lee Massachusetts US,1025 Collier Arcade,Ashland,Massachusetts,Middlesex County,NaN,42.291986,-71.463724,439502.18,72357.13

In [ ]:
# Remove a few unnecessary columns to allow for easier visualization
patients.drop