In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
os.getcwd()

'D:\\GitHubProjects\\covid_mortality_prediction'

In [3]:
data_dir = '..\\synthea_covid19_data\\100k_synthea_covid19_csv\\'
data_dir

'..\\synthea_covid19_data\\100k_synthea_covid19_csv\\'

In [4]:
patients = pd.read_csv(data_dir+'patients.csv', nrows=20)

In [5]:
patients.columns

Index(['Id', 'BIRTHDATE', 'DEATHDATE', 'SSN', 'DRIVERS', 'PASSPORT', 'PREFIX',
       'FIRST', 'LAST', 'SUFFIX', 'MAIDEN', 'MARITAL', 'RACE', 'ETHNICITY',
       'GENDER', 'BIRTHPLACE', 'ADDRESS', 'CITY', 'STATE', 'COUNTY', 'ZIP',
       'LAT', 'LON', 'HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE'],
      dtype='object')

In [6]:
patients.sample()

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
4,bd1c4ffc-7f1d-4590-adbb-1d6533fb623e,2019-06-12,NaN,999-81-4349,NaN,NaN,NaN,Karyn217,Mueller846,NaN,...,New Bedford Massachusetts US,570 Abshire Forge Suite 32,Colrain,Massachusetts,Franklin County,NaN,42.74022,-72.722648,24130.0,903.28

In [7]:
# Remove a few unnecessary columns to allow for easier visualization
patients.drop(['SSN', 'DRIVERS', 'PASSPORT', 'PREFIX', 'FIRST', 'LAST', 'SUFFIX', 'MAIDEN'], axis=1, inplace=True)

In [8]:
patients.sample()

,Id,BIRTHDATE,DEATHDATE,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
3,cc3c806f-4a09-4a89-a990-4286450956be,1996-11-15,NaN,NaN,white,nonhispanic,M,Patras Achaea GR,1050 Lindgren Extension Apt 38,Boston,Massachusetts,Suffolk County,2135.0,42.352434,-71.02861,484758.46,3632.96

For now, will only keep basic demographic information and remove the rest. 
HEALTHCARE_COVERAGE may be a foreign key so keeping it for now 
HEALTHCARE_EXPENSES will be removed to prevent data leakage

In [ ]:
# 
patients.drop(['BIRTHPLACE', 'ADDRESS', 'CITY', 'STATE','COUNTY', 'ZIP', 'LAT', 'LON', 'HEALTHCARE_EXPENSES'], axis=1, inplace=True)

In [12]:
patients.sample()

,Id,BIRTHDATE,DEATHDATE,MARITAL,RACE,ETHNICITY,GENDER,HEALTHCARE_COVERAGE
7,682077f3-bd6b-462d-ac1c-c394ca8240d2,1983-12-12,NaN,M,white,nonhispanic,M,3148.04

Now read in the entire patient.csv file with only the relevant columns

In [13]:
patients = pd.read_csv(data_dir+'patients.csv', usecols=['Id', 'BIRTHDATE', 'DEATHDATE', 'MARITAL', 'RACE', 'ETHNICITY',
                                                         'GENDER', 'HEALTHCARE_COVERAGE'])

In [14]:
patients.sample()

,Id,BIRTHDATE,DEATHDATE,MARITAL,RACE,ETHNICITY,GENDER,HEALTHCARE_COVERAGE
10262,faeeed09-19c4-4a3e-8b89-c39059536993,1972-05-10,NaN,M,white,hispanic,M,45264.21

In [15]:
def feature_summary(dataset):
    feature_summary = pd.DataFrame()
    feature_summary['Data Type'] = dataset.dtypes
    feature_summary['Num Unique'] = dataset.nunique()
    feature_summary['Num Missing'] = dataset.isnull().sum()
    feature_summary['% Missing'] = round((feature_summary['Num Missing'] / len(dataset.index)) * 100, 2)

    # Grab info from dataset.describe()
    numerical_var_info = dataset.describe().T
    feature_summary['Min'] = np.round(numerical_var_info['min'], 2)
    feature_summary['Max'] = np.round(numerical_var_info['max'], 2)
    feature_summary['Mean'] = np.round(numerical_var_info['mean'], 2)
    feature_summary['Median'] = np.round(numerical_var_info['50%'], 2)
    feature_summary['Std'] = np.round(numerical_var_info['std'], 2)
    
    return feature_summary

In [16]:
feature_summary(patients)

,Data Type,Num Unique,Num Missing,% Missing,Min,Max,Mean,Median,Std
Id,object,124150,0,0.00,NaN,NaN,NaN,NaN,NaN
BIRTHDATE,object,31098,0,0.00,NaN,NaN,NaN,NaN,NaN
DEATHDATE,object,12318,100000,80.55,NaN,NaN,NaN,NaN,NaN
MARITAL,object,2,36121,29.09,NaN,NaN,NaN,NaN,NaN
RACE,object,5,0,0.00,NaN,NaN,NaN,NaN,NaN
ETHNICITY,object,2,0,0.00,NaN,NaN,NaN,NaN,NaN
GENDER,object,2,0,0.00,NaN,NaN,NaN,NaN,NaN
HEALTHCARE_COVERAGE,float64,74160,0,0.00,0.0,2146427.06,13004.98,6003.64,42643.27